{% extends "base.html" %}

{% block title %}Home - Travel Booking{% endblock %}

{% block content %}
<h2>Available Tours</h2>
<ul id="tour-list">
    {% for tour in tours %}
        <li id="tour-{{ tour['service_id'] }}">
            <a href="{{ url_for('tour_detail', service_id=tour['service_id']) }}" id="tour-link-{{ tour['service_id'] }}">{{ tour['title'] }}</a> -
            Price: {{ tour['price'] }} USD -
            Rating: {{ tour['rating'] or 'N/A' }}
        </li>
    {% else %}
        <li id="no-tours">No tours available.</li>
    {% endfor %}
</ul>
{% endblock %}
