{% extends "base.html" %} {% block title %}Register - Travel Booking{% endblock
%} {% block content %}
<h2>Register</h2>
<form
  method="POST"
  action="{{ url_for('register') }}"
  id="register-form"
  novalidate
>
  <label for="full_name">Full Name:</label><br />
  <input type="text" id="full_name" name="full_name" required /><br />
  <label for="email">Email:</label><br />
  <input type="email" id="email" name="email" required /><br />
  <span id="email-error" style="color: red"></span><br />
  <label for="password">Password:</label><br />
  <input type="password" id="password" name="password" required /><br />
  <span id="password-error" style="color: red"></span><br />
  <button type="submit" id="register-button">Register</button>
</form>

<script>
  document
    .getElementById("register-form")
    .addEventListener("submit", function (event) {
      let hasError = false;

      // Clear previous errors
      const passwordError = document.getElementById("password-error");
      const emailError = document.getElementById("email-error");
      passwordError.innerHTML = "";
      emailError.innerHTML = "";

      function validate_email(email) {
        const emailError = [];
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (email.trim() === "") {
          emailError.push("Email is required.");
        }
        if (!emailRegex.test(email)) {
          emailError.push("Email must be in the format username@domain.com.");
        }
        return emailError;
      }

      function validate_password(password) {
        const passwordErrors = [];
        if (password.length <= 6) {
          passwordErrors.push("Must be longer than 6 characters.");
        }
        if (!/[A-Z]/.test(password)) {
          passwordErrors.push("Must contain a capital letter.");
        }
        if (!/\d/.test(password)) {
          passwordErrors.push("Must contain a number.");
        }
        if (!/[!@#$%^&*(),.?":{}|<>]/g.test(password)) {
          passwordErrors.push("Must contain a special character.");
        }

        if (passwordErrors.length > 0) {
          hasError = true;
          passwordError.innerHTML =
            "<b>Password does not meet requirements:</b><br>" +
            passwordErrors.join("<br>");
        }
      }
      // Password validation
      const password = document.getElementById("password").value;
      validate_password(password);

      // Email validation
      const email = document.getElementById("email").value;
      const emailErrors = validate_email(email);
      if (emailErrors.length > 0) {
        hasError = true;
        emailError.innerHTML =
          "<b>Invalid email format:</b><br>" + emailErrors.join("<br>");
      }

      if (hasError) {
        event.preventDefault();
      }
    });
</script>
{% endblock %}
